# Eclipse
.metadata/
Servers/

# Eclipse Project
**/.settings/
**/.classpath
**/.project

# IntelliJ
**/.idea/
**/*.iml

# Build
**/build/
**/target/
**/out/

# OS
.DS_Store
Thumbs.db

# Back study workspace
Back/**/.metadata/
Back/**/Servers/

# Front study workspace
Front/**/.metadata/
Front/**/Servers/